.mystery {
  color: green;
  font-family: "Snell Roundhand", cursive;
}

.fiction {
  color: crimson;
  font-family: "OCR A Std", monospace;
}

body {
  margin: 30px;
}

h1 {
  text-decoration: underline;
}
