.mystery {
  color: green;
  font-family: "Snell Roundhand", cursive;
}

.fiction {
  color: crimson;
  font-family: "OCR A Std", monospace;
}

body {
  margin: 30px;
}

h1 {
  text-decoration: underline;
}
 table {
        border-collapse: collapse;
    	width: 30%;
        margin: 20px 0; 
    	float: left; 
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: purple;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }
